{% extends 'base.html' %}
{% block content %}
<div class="container-fluid px-3 px-md-0">
          <div class="row">
            <div class="col-md-12 mb-4">
              <h1 class="h2">{{title}}</h1>
              <p>I don't have a lot of experiencein development, butI am studying and with the help of knowledge gained at university and my own, I strive to become a professional in the field of cybersecurity.
</p>
            </div>
            <div class="col-md-6">
              <h2 class="h4">Work experience </h2>
                <h3 class="h5">Cameraman / editor / photographer, Nazarbayev Intellectual schools, Aktau, 2019-2021</h3>
                <p>I worked in a TV studio at our school as a cameraman and editor.There I gained experience in creating content and  knowledge in the field of media technologies.</p>
              </div>
            <div class="col-md-6">
              <h2 class="h4">Education</h2>
                <h3 class="h5">High school diploma, Nazarbayev Intellectual schools, Aktau, 2021</h3>
                <p>I graduated from the Nazarbayev intellectual school in Aktau, whereI mastered all the necessary knowledge that is useful to mein my life. In addition,studying at this institution has given me many opportunities to develop my career because graduates of these institutions are mor ein demand</p>
            </div>
          </div>
</div>
{% endblock %}