{% extends 'base.html' %}
{% block content %}
<div class="container-fluid px-3 px-md-0">
          <div class="row">
            <div class="col-md-12 mb-4">
              <h1 class="h2">{{title}}</h1>
                <h2 class = "h4">High school diploma, Nazarbayev Intellectual schools, Aktau 2021</h2>
                <p>I graduated from the Nazarbayev intellectual school in Aktau, where I mastered all the necessary knowledge that is
useful to mein my life. In addition,studying at this institution has given me many opportunities to develop my career
because graduates of these institutions are more in demand.
</p>
                <div class="col-md-6">
              <h2 class="h4">Astana IT University, Astana</h2>
              <p>2024</p>
                </div>
            </div>
          </div>
        </div>
{% endblock %}